.maindiv {
    height: 100vh;
    box-shadow: 0px 0px 0px 0px;
    display: flex;
}

.maindiv>div {
    width: 100%;
}

.maindiv img {
    width: 50px;
}

.pricedetails {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 0px;
    display: flex;
    justify-content: space-around;
}

.productreview {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 12px;
}

.paymentmethod {
    display: flex;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 12px;
    padding: 18px;
    margin-top: 18px;
}

.paymentleft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #f0f0f0;
    border-radius: 12px;
    padding: 12px;
    width: 40%;
    margin-right: 24px;
}

.paymentleft button {
    padding: 12px;
    font-weight: bold;
    color: grey;
    background-color: #f0f0f0;
}

.paymentright p {
    font-size: 15px;
    color: grey;
}

.weaccept {
    display: flex;
}

.weaccept img {
    width: 36px;
    margin: 0px 12px;
}

.paymentright input {
    border: 1px solid black;
    margin: 12px 0px;
    padding: 6px;
    padding-right: 206px;
    border-radius: 6px;
}

.proceed {
    background-color: black;
    color: white;
    padding: 10px 30px;
    border-radius: 6px;
}

@media only screen and (max-width: 1200px) {
    .maindiv {
        display: flex;
        flex-direction: column;
    }

    .paymentright input {
        border: 1px solid black;
        margin: 12px 0px;
        padding: 6px;
        padding-right: 130px;
        border-radius: 6px;
    }
}

@media only screen and (max-width: 1050px) {
    .paymentright input {
        border: 1px solid black;
        margin: 12px 0px;
        padding: 6px;
        padding-right: 90px;
        border-radius: 6px;
    }
}