.bottom_bar {
    position: fixed;
    color: white;
    z-index: 1000;
    bottom: 0;
}

.bottom_bar span {
    font-size: 20px;
}

.bottom_bar p {
    font-size: 12px;
}

.bottom_bar_links {
    display: flex;
    flex-direction: column;
    align-items: center;
}